<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<p>Ошибка при регистрации - пользователь с таким логином уже существует</p>
<br>
<p>Ошибка при удалении - удалять записи может только администратор</p>
</body>

<table>
    <tbody>
    <br>
    <br>
    <form th:action="@{/start}" th:method="get">
        <input type="submit" name="action" value="На главную страницу">
    </form>
    </tbody>
</table>

<table>
    <tbody>
    <br>
    <br>
    <form th:action="@{/index}" th:method="get">
        <input type="submit" name="action" value="Вернуться в аккаунт">
    </form>
    </tbody>
</table>
</html>