<table>
    <thead>
    <title> Животные </title>
    </thead>
    <tbody>
    <table border="9">
        <thead>
            <th>ID</th>
            <th>Имя</th>
            <th>Тип животного</th>
            <th>Возраст</th>
            <th>Дата создания</th>
            <th>Дата изменения</th>
            <th>Порода</th>
            <th>Цена</th>
            <th>Дата рождения</th>
            <th>Удалить</th>
        </thead>
        <tbody>
        <tr th:each="animal : ${animalList}">
            <th th:text="${animal.idAnimal}"></th>
            <th th:text="${animal.name}"></th>
            <th th:text="${animal.animalType}"></th>
            <th th:text="${animal.age}"></th>
            <th th:text="${#temporals.format(animal.created,'yyyy-MM-dd HH:mm:ss')}"></th>
            <th th:text="${#temporals.format(animal.updated,'yyyy-MM-dd HH:mm:ss')}"></th>
            <th th:text="${animal.breed}"></th>
            <th th:text="${animal.cost}"></th>
            <th th:text="${#temporals.format(animal.birthDate, 'yyyy-MM-dd')}"></th>
            <th th:text="..."></th>
        </tr>

        </tbody>
    </table>
    </tbody>
</table>