<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<table>
    <thead>
    <title> Животные </title>
    </thead>
    <tbody>
    <table border="10">
        <thead>
        <th>ID</th>
        <th>Имя</th>
        <th>Тип животного</th>
        <th>Возраст</th>
        <th>Дата создания</th>
        <th>Дата изменения</th>
        <th>Порода</th>
        <th>Цена</th>
        <th>Дата рождения</th>
        <th>Удалить</th>
        </thead>
        <tbody>
        <tr th:each="animal : ${animalList}">
            <th th:text="${animal.idAnimal}"></th>
            <th th:text="${animal.name}"></th>
            <th th:text="${animal.animalType}"></th>
            <th th:text="${animal.age}"></th>
            <th th:text="${#temporals.format(animal.created,'yyyy-MM-dd HH:mm:ss')}"></th>
            <th th:text="${#temporals.format(animal.updated,'yyyy-MM-dd HH:mm:ss')}"></th>
            <th th:text="${animal.breed}"></th>
            <th th:text="${animal.cost}"></th>
            <th th:text="${#temporals.format(animal.birthDate, 'yyyy-MM-dd')}"></th>
            <th><a th:href="@{/delete/{id}(id=${animal.idAnimal})}">Удалить</a></th>
        </tr>
        </tbody>
    </table>
    </tbody>
</table>

<table>
    <tbody>
    <br>
    <br>
    <form th:action="@{/add}" th:method="get">
        <input type="submit" name="action" value="Добавить новое животное">
    </form>
    </tbody>
</table>

<table>
    <tbody>
    <br>
    <br>
    <form th:action="@{/logout}" th:method="get">
        <input type="submit" name="action" value="Выйти из аккаунта">
    </form>
    </tbody>
</table>

</html>